//--------------------//
//     MEASUREMENT    //
//--------------------//
$header-height: 4.8rem;
$footer-height: 3.7rem;

//--------------------//
//       COLORS       //
//--------------------//

// Shades of black
$color-black: #000;

// Shades of grey
$color-alto: #d6d6d6;
$color-dusty-gray: #999999;

// Shades of white
$color-white: #fff;
$color-alabaster: #fafafa;

// Shades of blue
$color-azure-radiance: #007AFF;
$color-blue-mid:  #83C0FD;

// Shades of purple
$color-minsk: #532d8c;

// Shades of pink
$color-amaranth: #f2295b;

// Shadow
$color-shadow-rgba: RGBA(0, 0, 0, 0.08);
$color-shadow-rgba-card: RGBA(0,0,0,0.23);