.SliderContainer {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
}

.Arrow {
    &Left,
    &Right {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        margin: 0 2rem;
    }
    &Left {
        transform: rotate(180deg);
    }
    &Disabled {
        opacity: .4;
        cursor: not-allowed;
        pointer-events: none;
    }
}